<html>
  <head>
    <meta charset='utf-8' />
    <title>{{data.title}}</title>
    <link href='css/styles.css' rel='stylesheet' />
  </head>
  <body>
    <h1>CHAT___</h1>
    <div id='hello_stranger'> </div>
    <div id='chatting_box'></div>
    <form id='chat_form'>
      <input id='chat_message_input' placeholder='Type your message here' />
      <button type='submit'>Chat</button>
    </form>
    <script src='js/scripts.js'></script>
  </body>
</html>